body {
  margin: 0;
  font-family: AppleGothic;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



.login-button {
  background-color: #555;
  color: white;
  border: none;
  position:relative;
}

.login-popup {
  display: none;
  position: relative;
  left: 0;
}

.login-container {
  max-width: 300px;
  background-color: white;
}

.sign-up-button {
  background-color: #555;
  color: white;
  border: none;
  position:relative;
}

.sign-up-popup {
  display: none;
  position: relative;
  left: 0;
}

.top-menu{
  padding: 1%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #DFDCD5;
  z-index: 1;
  
  color: white;
}

ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}


li{
  display: flex;
  padding-right: 20px;
}

.about {
  position: relative;
  
  color: white;
}

.about-img {
  filter:brightness(80%);
  opacity: 0.9;
}

.about-text{
  position: absolute;
  top: 5%;
  left: 5%;
  right: 45%;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.3;
  
}

.about-sectitle{
  color: #E1C186
}

.adopt{
  background-color: #DFDCD5;
  
  padding: 1%;
}


.bottom{
  padding: 1%;
  background-color:#7C736A;
  text-align: center;
  color: white;
  filter:brightness(80%);
  opacity: 0.9;

}

.bottom-headers{
  display: flex;
  justify-content: space-around;
  color: #E9E3CB
}

.bottom-para{
  display: flex;
  justify-content: space-around;
}

.add-pet-button {
  display: none;
  background-color: #555;
  color: white;
  border: none;
  position:relative;
  left: 2%;
}

.add-pet {
  background-color: #DFDCD5;
  padding: 1%;
  display: none;
  position: relative;
  left: 0;
}


.pet-adder-form{
  display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    justify-self: center;
}

.edit {
  display: block;
  background-color: #555;
  color: white;
  border: none;
  position:relative;
}

.remove {
  display: block;
  background-color: #555;
  color: white;
  border: none;
  position:relative;
}
.upload {
  display: block;
  background-color: #555;
  color: white;
  border: none;
  position:relative;
}
